.whatsapp-link {
    color: #25d366; /* WhatsApp green color */
    margin: 10px;
    text-decoration: none;
  }
  
  .whatsapp-link:hover {
    color: #128c7e; /* Darker green on hover */
  }
  
  .wpicon-animation {
    position: fixed; /* Ensure fixed positioning */
    right: 40px;
    bottom: 90px;
    z-index: 9999; /* Ensure button is on top */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wpicon-animation:hover {
}

.wpicon-animation:focus,
.wpicon-animation:active {
}
