
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-button-prev {
    
    color: #3595FC  !important;
    opacity: 0.4 !important;
  
  }
  
  .swiper-button-next {
    
    color: #3595FC  !important;
    opacity: 0.4 !important;
  
  }
  